* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #eeffee;
}

.header,
.main-content,
.footer {
  display: flex;
  flex: 1;
  align-items: center;
  padding-left: 10px;
}

.header {
  display: flex;
  background-color: #fff;
  max-height: 85px;
  align-items: center;
  box-shadow: 1px 3px 10px;
  margin-bottom: 7px;
}

.header h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 65px;
}

.book-icon {
  margin-top: 10px;
}

.main-content {
  display: flex;
  align-items: start;
  font-family: "Roboto", sans-serif;
}

.add-book-wrapper {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  background-color: white;
  border: 3px solid black;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.add-book-img {
  height: 40px;
  width: 40px;
}

.main-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 0.3fr));
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em;
  height: 100%;
  width: 100%;
  padding: 19px;
}

/* * card CSS */

.card {
  display: grid;
  grid-template-columns: 0.3fr 0.1fr 1fr;
  grid-template-rows: 0.3fr 1fr;
  border: 3px solid #8c8c8c;
  border-radius: 15px;
  /* height: 250px; */
  /* width: 250px; */
  background-color: white;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 10px;
}

.card-title-wrapper {
  grid-column: 1 / 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-title-wrapper,
.card-left {
  padding-left: 10px;
}

.remove-book-button {
  border: 2px solid black;
  border-radius: 50%;
}

.card-left,
.card-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-left {
  grid-column: 1 / 2;
}

.card-seperator {
  grid-column: 2 / 3;
  background-color: #bdb2ff;
  height: 100%;
  width: 3px;
  border-radius: 50px;
}

.card-right {
  grid-column: 3 / 4;
}

.popup {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 18px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 3px solid black;
}

.popup-content {
  text-align: start;
}

.form-upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close-button {
  font-size: 48px;
  cursor: pointer;
}

.book-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.form-input {
  /* display: block; */
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.valid {
  border: 1px solid green;
}

.invalid {
  border: 1px solid red;
}

.invalid-message {
  color: red;
}

.form-read-wrapper {
  display: flex;
}

.form-read-wrapper input {
  height: 23px;
  width: 47px;
}

#read:hover {
  cursor: pointer;
}

.submit-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #555;
}

/** Footer */

.footer {
  background-color: black;
  max-height: 40px;
  font-family: "Barlow Condensed", sans-serif;
  color: white;
}

.footer a {
  text-decoration: none;
  color: white;
}
